<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <!-- 
  See http://nlog-project.org/wiki/Configuration_file 
  for information on customizing logging rules and outputs.
   -->
    <targets>
        <!-- add your targets here -->
        <!-- <target name="console" xsi:type="Console" layout="${message}"/> -->
        <target name="coloredConsole" xsi:type="ColoredConsole" useDefaultRowHighlightingRules="false" layout="[${date:format=yyyy-MM-dd HH\:mm\:ss}] ${message}" >
            <highlight-row condition="level == LogLevel.Trace" foregroundColor="Blue" />
            <highlight-row condition="level == LogLevel.Debug" foregroundColor="Magenta" />
            <highlight-row condition="level == LogLevel.Info" foregroundColor="White" />
            <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
            <highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
            <highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="White" />
        </target>
    </targets>

    <rules>
        <!-- 
            By default, only information messages are shown. This can be changed with the 
            "quiet" or "verbose" command line arguments 
        -->
        <logger name="*" minlevel="Info" writeTo="coloredConsole" />
    </rules>
</nlog>